.container {
  position: relative;

  .invisible {
    display: none;
  }

  .error__message {
    position: absolute;
    font-style: normal;
    font-weight: 800;
    font-size: .7em;
    line-height: 15px;
    color: #CC1F1F;
    margin-top: -8%;
  }

  .label {
    margin: 0;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 800;
    font-size: .55em;
    line-height: 15px;
    color: #ADADAD;
  }
  
  .input {
    box-sizing: border-box;
    width: 100%;
    height: 5vh;
    max-height: 200px;
    background-color: #F0F0F0;
    border: 0;
    border-radius: 10px;
    padding: 0 3%;
    margin-bottom: 8%;
    

    &::placeholder {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: .9em;
      line-height: 22px;
      color: #000000;
    }

    &:focus {
      border: 2px solid #FDCB6E;
    }
  }

  .error {
    border: 2px solid #CC1F1F;
  }

  .image {
    width: 4vh;
    //position: absolute;
    top: 3.2vh;
    right: .5vh;
  }
}

@media all and (max-width: 800px), all and (max-height: 500px) {
  .container {
    .input {
      height: 7vh;
      font-size: 1em;

      &::placeholder {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: .9em;
        line-height: 22px;
        color: #000000;
      }
    }

    .label {
      letter-spacing: 2.5px;
      font-size: .75em;
      line-height: 15px;
      margin-bottom: 5px;
    }

    .image {
      width: 4vh;
      //position: absolute;
      top: 3.8vh;
      right: .5vh;
    }
  }
}