.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  height: 9vh;
  width: 100%;
  border-bottom: 1px solid #C2C2C2;

  display: flex;
  justify-content: flex-end;
  align-items: center;
 

  &__menu-button {
    display: none;
  }

  &__container {
    position: relative;
    margin-right: 4%;
  }


  &__search {
    box-sizing: border-box;
    width: 30vw;
    height: 5vh;
    background-color: #F0F0F0;
    border: 0;
    border-radius: 14px;
    padding: 0 3%;
    position: relative;

    &-icon {
      width: 5vh;
      position: absolute;
      bottom: 0;
      right: 1%;
      
      &:hover {
        cursor: pointer;
      }
    }

    &::placeholder {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: .9em;
      line-height: 22px;
    }

    &:focus {
      border: 2px solid #FDCB6E;
    }
  }

  &__notifications {
    display: flex;
  }

  &__photo {
    border: 0;
    border-radius: 50%;
    width: 5vh;
    margin-right: 1.1%;

    &:hover {
      cursor: pointer;
    }
  }

  &__fullname {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: .9em;
    line-height: 32px;
    margin-right: 1.5%;
    text-decoration: none;

    display: flex;
    align-items: center;

    color: #000000;
    &:hover {
      cursor: pointer;
    }
  }

  a{
    margin-right: 0.5%;

    &:hover {
      cursor: pointer;
    }
  }

  a > img {
    margin-top: 8%;
    width: 80%;
  }
}





@media all and (max-width: 800px), all and (max-height: 500px) {
  .header {
    background-color: #7DB59A;
    border-color: #7DB59A;

    &__photo {
      border-radius: 50%;
      width: 7vh;
      margin-right: 4%;
    }


    &__menu {
      position: absolute;
      display: flex;
      top: 9vh;
      left: 0;
      height: 91vh;
      width: 100vw;
      
      .menu {
        &__buttons {
          display: flex;
          flex-direction: column;
          background-color: #7DB59A;
          height: 91vh;
          width: 69vw;
        }

        &__item {
          display: flex;
          align-items: center;

          font-family: 'Inter';
          font-style: normal;
          font-weight: 700;
          line-height: 1em;
          letter-spacing: .08em;
          font-size: 1em;
          color: #fff;


          &.active {
            border-left: 5px solid #fff;
            img {
              margin-left: calc(5% - 5px);
            }
          }

          img {
            margin-left: 5%;
            width: 18%;
            margin-right: 8%;
          }
          margin: 3% 0;
        }
      }

      .menu__blur {
        background: rgba(0, 0, 0, 0.6);
        height: 91vh;
        width: 31vw;
      }
    }
    
    &__menu-button {
      display: block;
      position: absolute;
      left: 4%;

      &:hover {
        cursor: pointer;
      }
    }
   

    &__notifications {
      svg {
        path {
          stroke: #fff;
        }
      }
    }

    &__search {
      display: none;

      &-icon {
        display: none;
      } 
    }


    &__fullname {
      display: none;
    }

    &__logout {
      display: none;
    }
  }
}
